producer/src/main/resources/xsd/frete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/soap/frete" xmlns="http://example.com/soap/frete" elementFormDefault="qualified">
  <xs:element name="calcularFreteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cepOrigem" type="xs:string"/>
        <xs:element name="cepDestino" type="xs:string"/>
        <xs:element name="peso" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calcularFreteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="valor" type="xs:decimal"/>
        <xs:element name="prazo" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
