consumer/src/main/resources/xsd/endereco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/soap/endereco" xmlns="http://example.com/soap/endereco" elementFormDefault="qualified">
  <xs:element name="consultarEnderecoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cep" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="logradouro" type="xs:string"/>
        <xs:element name="bairro" type="xs:string"/>
        <xs:element name="cidade" type="xs:string"/>
        <xs:element name="uf" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
